header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 434px;
    padding-right: 158px;
    position: relative;
}
.func{
    padding-top: 15px;
    color: black;
}
.container {
    width: 1903px;

	margin-left: auto;
    margin-right: auto;
}
html{
    overflow-x: hidden;
}
.rhs{
    display: flex;
    flex-direction: row;
}
.bd1{
    width: 100%;
    height:760px;
    top: 40px;
}
.background1{
    background-image: url(img/technology-computer-lines-board-50711.png);
    width: 1920px;
    height: 600px;
}
.ryzen{
    min-width: 613px;
}